image_classification/rank1_LeNet/data
*.pyc
test*
*.pth



*.png
*.json
flower_data


object_detection/yolov3/VOCdevkit

*.txt
!requirements.txt

*.pt


object_dectction/yolov3/runs

*.mp4

__pycache__/
*.pyc
*.cache

