image_classification/rank1_LeNet/data
*.pyc
test*
*.pth
*.jpg
*.png
*.json
flower_data

object_detection/datasets
object_detection/yolov3/VOCdevkit

*.txt
*.pt
object_detection/yolov3/weights
object_detection/yolov3/runs
*.mp4
